li:hover,
.home:hover {
  background-color: rgb(68, 148, 175);
}
i:hover,
a:hover {
  background-color: rgb(68, 148, 175);
}
nav {
  background-color: black;
  opacity: 0.5;
}

i {
  font-size: 24px;
  padding-right: 6px;
  color: white;
}
.nav-home:hover {
  background-color: rgb(51, 59, 61);
}
a {
  display: flex;
  align-items: center;
  color: white;
  padding: 3px 4px;
  margin-bottom: 2px;
  transition: 0.3s;
  font-size: 18px;
  font-weight: bold;
}
li {
  display: inline-flex;
}
