<section id="about">
  <div class="container">
    <h2><strong>About</strong></h2>
    <span class="bar-title mb-5"></span>
    <div class="row">
      <div class="col-lg-4 col-md-12" data-aos="fade-right">
        <picture>
          <img
            src="assets\images\blank-profile-picture-973460_640.png"
            alt="Profile image"
            class="img-fluid"
          />
        </picture>
        <div class="d-flex justify-content-center">
          <a class="btn-social-media" href="" rel="tooltip" title="LinkedIn">
            <i class="fa fa-facebook fa-lg"></i>
          </a>
          <a
            class="btn-social-media btn-default btn-round btn-lg btn-icon"
            href=""
            rel="tooltip"
            title="Twitter"
          >
            <i class="fa fa-twitter fa-lg"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-8 col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
        <h3>Lorem ipsum dolor sit amet</h3>
        <p class="font-italic">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis
          numquam sint illo modi et cumque voluptas delectus? Totam perferendis
          dolores dignissimos quasi amet minima harum, cumque accusamus itaque,
          qui dolorem!
          <br />
        </p>
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <ul>
              <li>
                <fa-icon [icon]="mapMarker"></fa-icon><strong> Nepal</strong>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6">
            <ul>
              <li>
                <fa-icon [icon]="email"></fa-icon
                ><strong
                  ><a href="mailto:random@gmail.com">
                    random@gmail.com</a
                  ></strong
                >
              </li>
            </ul>
          </div>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae
          assumenda iste adipisci repellat vel dolores ea ipsa libero excepturi,
          voluptas sapiente ipsum, corporis earum? Ipsa omnis veritatis beatae
          minus voluptatibus?
        </p>
      </div>
    </div>
  </div>
</section>
